.dashboard {
  overflow-y: auto;
}
.dashboard > .bar {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}
.dashboard > .bar > input {
  margin-right: auto;
  padding: 1rem 0;
  border: none;
  background-color: inherit;
  outline: none;
  width: 100%;
}
.dashboard > .bar > svg {
  font-size: 1.2rem;
  opacity: 0.7;
}
.dashboard > .bar > img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.dashboard > .widgetContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 2rem 2rem 2rem 0;
}
.dashboard > .widgetContainer .widget {
  width: 16rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  border-radius: 5px;
}
.dashboard > .widgetContainer .widget .widgetInfo > p {
  opacity: 0.7;
  font-size: 0.8rem;
}
.dashboard > .widgetContainer .widget .widgetInfo > h4 {
  font-size: 1.5rem;
}
.dashboard > .widgetContainer .widget .widgetInfo > span {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  gap: 0.2rem;
}
.dashboard > .widgetContainer .widget .widgetCircle {
  position: relative;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  flex: none;
  display: grid;
  place-items: center;
  background-color: #3b71ca;
}
.dashboard > .widgetContainer .widget .widgetCircle::before {
  content: "";
  position: absolute;
  height: 4rem;
  width: 4rem;
  background-color: white;
  border-radius: 100%;
}
.dashboard > .widgetContainer .widget .widgetCircle span {
  position: relative;
}
.dashboard .graphContainer {
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset;
  gap: 2rem;
  padding: 0 2rem 2rem 0;
}
.dashboard .graphContainer > div {
  background-color: white;
  border-radius: 10px;
}
.dashboard .graphContainer .revenueChart {
  width: 100%;
  padding: 1rem 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
}
.dashboard .graphContainer .revenueChart > h2 {
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 1rem 0 2rem 0.25rem;
  text-align: center;
}
.dashboard .graphContainer .dashboardCategories {
  width: 100%;
  max-width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  gap: 0;
  padding-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
}
.dashboard .graphContainer .dashboardCategories > h2 {
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 1.5rem 0 2rem 0;
  text-align: center;
}
.dashboard .graphContainer .dashboardCategories > div {
  overflow-y: auto;
  padding-left: 0.5rem;
}
.dashboard .graphContainer .dashboardCategories .categoryItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.dashboard .graphContainer .dashboardCategories .categoryItem > h5 {
  letter-spacing: 1px;
  font-weight: 300;
}
.dashboard .graphContainer .dashboardCategories .categoryItem > div {
  margin-left: auto;
  width: 6rem;
  background-color: rgb(217, 217, 217);
  border-radius: 20px;
  height: 0.5rem;
  flex: none;
}
.dashboard .graphContainer .dashboardCategories .categoryItem > div > div {
  height: 100%;
  border-radius: 20px;
}
.dashboard .graphContainer .dashboardCategories .categoryItem > span {
  font-size: 0.8rem;
  font-weight: 700;
}
.dashboard .transactionContainer {
  display: flex;
  gap: 2rem;
  padding: 0 2rem 2rem 0;
  height: 30rem;
}
.dashboard .transactionContainer > div {
  background-color: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.132);
  border-radius: 10px;
}
.dashboard .transactionContainer .genderChart {
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  position: relative;
}
.dashboard .transactionContainer .genderChart > h2 {
  text-align: center;
  margin: 1.5rem 0 2rem 0;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;
}
.dashboard .transactionContainer .genderChart > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.634);
}
.dashboard .transactionContainer .transactionBox {
  width: 100%;
  padding: 1rem;
  overflow-x: auto;
}
.dashboard .transactionContainer .transactionBox > h2 {
  margin: 1.5rem 0 0 0;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 300;
  text-transform: uppercase;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #061826;
}

.green {
  color: #04f06a;
}

.red {
  color: #a20021;
}

.adminContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: unset;
  gap: 2rem;
  height: 100vh;
  background-color: #f4f7f5;
}
.adminContainer > aside {
  width: 100%;
  background-color: white;
  padding: 1rem;
  z-index: 10;
  overflow-y: auto;
}
.adminContainer > aside::-webkit-scrollbar {
  display: none;
}
.adminContainer > aside > div {
  margin: 2rem 1rem;
}
.adminContainer > aside > div > h5 {
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0.8;
  margin: 1rem 0;
}
.adminContainer > aside > div > ul {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  gap: 0.5rem;
  list-style: none;
}
.adminContainer > aside > div > ul > li {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.adminContainer > aside > div > ul > li a {
  color: rgba(0, 0, 0, 0.825);
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  gap: 1rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table th,
.table td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}
.table th {
  font-weight: bold;
  color: #000;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 2rem 1rem;
}
.table tbody tr {
  box-shadow: 0px 10px 1px rgba(0, 0, 0, 0.093);
}
.table tbody td {
  padding: 1rem;
}
.table tbody td img {
  width: 4rem;
  height: 4rem;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
.table tbody td a {
  text-decoration: none;
  background-color: rgba(44, 104, 255, 0.455);
  color: rgb(44, 104, 255);
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
}
.table tbody td button {
  width: 2rem;
  height: 2rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(255, 44, 44);
}
.table tbody td button:hover {
  opacity: 0.6;
}
.table tbody td:first-child {
  border-left: none;
}
.table tbody td:last-child {
  border-right: none;
}/*# sourceMappingURL=app.css.map */